<html>
<head>
	<title> {% block title %} {% endblock %} </title>
	<meta name= "keywords" content= "Poll, Questionare, Data, Graph, Ask, Answer">
	<meta name= "description" content= "Connect with others who have the same interests by answering polls">
	<meta name= "author" content="Nadeen J, Ron L, Yasmine Y, Yarden B, Aviv B">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
	{% block headers %}
		
	{% endblock %}
</head>
<body>
	<div id="error" style="display:none;">
		Error.
	</div>
	<div>
			<a href= "/home"><img src="{{ STATIC_URL }}images/newer_logo.png"/></a>
			<ul id="navbar">
				<li class="navItem"><a href="/home">Home</a></li>
				<li class="navItem"><a href="/new">New Poll</a></li>
				<li class="navItem"><a href="/browse">Browse</a></li>
			</ul>
	</div>



<hr>
{% block content %}

{% endblock %}
</body>
</html
