<html>
<head>
	<title> {%block title %} {% endblock %} </title>
	{% block headers %}
	
	{% endblock %}
</head>
<body>
	<div >
		<img src="http://www.logomaker.com/logo-images/00509fbf3b56c352.gif"/>
		<a href="http://www.logomaker.com"><img src="http://www.logomaker.com/images/logos.gif" alt="logos" 			border="0"/></a> Answer Surveys and Grow Closer to People 
		<table> 
			<tr> <td> Home </td> <td> Create Survey </td> <td> Search <input type= "text" name= "search"> </td> 				</tr>		 
		</table>
		<hr>
	</div>
{% block content %}

{% endblock %}
	

</body>
</html>
