<html>
<head>
	<title> {% block title %} {% endblock %} </title>
	<meta name= "keywords" content= "Survey, Questionare, Data, Graph, Ask, Answer">
	<meta name= "description" content= "Connect with others who have the same interests by filling out surveys">
	<meta name= "author" content="Nadeen J, Ron L, Yasmine Y, Yarden B, Aviv B">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/survme.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
	{% block headers %}
		
	{% endblock %}
</head>
<body>
	<div id="error" style="display:none;">Error.</div>
	<div>
		<a href= "/home"><img src="{{ STATIC_URL }}images/new_logo.png"/></a>
		<div id="menu">		
			<div id="nav">
				<span><a class= "navbar"href="/home">Home</a></span>
				<span><a class= "navbar" href="/new">New Survey</a></span>
				<span><a class= "navbar" href="/browse">Browse</a></span>
			</div>
		</div>
	</div>
<hr>
{% block content %}

{% endblock %}
</body>
</html
