{% extends "base.html" %}
{% block title%}
	Browse Surveys Page
{% endblock %}
{% block headers %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/browse.css">
{% endblock %}
{% block content %}
	{% if surveys %}
		<p id="browseTitle"> All surveys: </p>
		<div id="main" align="center">		
			{% for survey in surveys %}
				<div class="surveyFrame" align="center">
					<p><span  class="survTitle">{{survey.title}}</span> <span class="subTitle">  by {{survey.author}}			({{survey.totalvotes}} votes) </span></p>
					<p class="desc">{{survey.desc}}</p>
				</div>
			{% endfor %}
		</div>

	{% else %}
		No surveys in database.
	{% endif %}

{% endblock %}




<!-- title, desc, author, totalvotes, <a href="/survey/{{survey.id}}">Click Here</a> -->
