{% extends "base.html" %}
{% block title%}
	Browse Surveys Page
{% endblock %}
{% block headers %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/browse.css">
{% endblock %}
{% block content %}
	{% if surveys %}
		<p id="browseTitle"> All surveys: </p>
		{% for survey in surveys %}
			<div id="surveyFrame" align="center">
				<p><span  id="survTItle">{{survey.title}}</span> <span id="subTitle">  by {{survey.author}}			({{survey.totalvotes}} votes) </span></p>
				<p id="desc">{{survey.desc}}</p>
				<a href="/survey/{{survey.id}}" id="take"><input type= "submit" value= "Take the survey!"></a>
			</div>
		{% endfor %}

	{% else %}
		No surveys in database.
	{% endif %}

{% endblock %}




<!-- title, desc, author, totalvotes, <a href="/survey/{{survey.id}}">Click Here</a> -->
