{% extends "base.html"%}

{% block title %}
	View Survey Page
{% endblock %}
{% block headers %}
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="{{ STATIC_URL }}js/charts.js"></script>
{% endblock %}
{% block content %}
	{% if id == -1 %}
		Error: invalid survey id.
	{% else %}

		<div id="frame" align="center">
			<p id="title">Title: {{title}}</p>
			<p id="subtitle">By {{author}}, {{date}}</p>
			<p> Survey Description: {{desc}}</p>
			Answers:
			<ul> <form action="vote/" method= "post">
			{% csrf_token %}
			{% for answer in answers %}
					<li><input type="radio" name="answers" value="{{forloop.counter}}"> {{answer.text}} - {{answer.votes}} votes</li>
			{% endfor %}
			<input type="submit" value="Vote">
			</form> </ul>
		</div>



		Comments:
		<form action="comment/" method= "post">{% csrf_token %}<input type= "text" name= "text" value="Write your own comment.."> <input type= "text" name= "author" value="Your name"> <input type= "submit" value= "Submit"></form>
		{% if comments %}
			{% for comment in comments %}
					<li>]{{comment.date}}] {{comment.author}}: {{comment.text}}</li>
			{% endfor %}
		{% else %}
			There are no comments on this poll.
		{% endif %}
	{% endif %}
	</ul>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

{% endblock %}
