{% extends "base.html"%}

	{% block title%}
	SurvMe
	{% endblock %}
{% block content %}
	{% if id == -1 %}
		Error: invalid survey id.
	{% else %}
		id = {{id}}
		title = {{title}}
		desc = {{desc}}
		author = {{author}}
		display = {{display}}
		public = {{public}}
		Answers:
		<ul> <form action="vote/" method= "post">
		{% csrf_token %}
		{% for answer in answers %}
				<li><input type="radio" name="answers" value="answer{{forloop.counter}}"> {{answer.text}} - {{answer.votes}} votes</li>
		{% endfor %}
		<input type="submit" value="Vote">
		</form> </ul>
	{% endif %}
	</ul>
{% endblock %}
