{% extends "base.html" %}
{% block title %}
	Home Page
{% endblock %}
{% block headers %}

{% endblock %}
{% block content %}
	<div>
		{% if recentFeed %}
			Most 5 recent surveys:
			<ul>
				{% for survey in recentFeed %}
					<div> <li>{{survey.title}} - {{survey.desc}}, by {{survey.author}}</li> </div>
				{% endfor %}
			</ul>
		{% else %}
			<div id="try">No surveys.</div>
		{% endif %}

		{% if popularFeed %}
			Most 5 popular surveys:
			<ul>
				{% for survey in popularFeed %}
					<div> <li>{{survey.title}} - {{survey.desc}}, by {{survey.author}}</li> </div>
				{% endfor %}
			</ul>
		{% else %}
			No surveys.
		{% endif %}
	</div>
{% endblock %}
