{% extends 'base.html' %}

<div id="wholepage"><div id= "homepage"> 
{% block title %}
	Home Page
{% endblock %}
{% block headers %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css">
{% endblock %}
{% block content %}
</div>
	<div id="desc">
		<p>"Poll It" is a platform in which people can effortlessly ask snd answer each other's questions.</p>
		<p>Its simplicity enables people to enjoy learning about other people's opinions on subjects that intrigue them.</p>
		<br><p style="color:#404040;">Copyright &copy; Ron Lipel, Nadeen Jabara, Yarden Ben Ami, Yasmine Yaghi</p>
	</div>

	<div id="feed">
	<div id="mostPopular"> {% if popularFeed %}
			Five most popular polls:
			<ul>
				{% for survey in popularFeed %}
					<div> <li><a class= "survey_link" href="/survey/{{survey.id}}">{{survey.title}}</a> - by {{survey.author}}</li> </div>
				{% endfor %}
			</ul>
		{% else %}
			No surveys.
		{% endif %}
	</div>
	<div id="mostRecent">	{% if recentFeed %}
			Five most recent polls:
			<ul>
				{% for survey in recentFeed %}
					<div> <li><a class= "survey_link" href="/survey/{{survey.id}}" >{{survey.title}}</a> - by {{survey.author}}</li> </div>
				{% endfor %}
			</ul>
		{% else %}
			<div id="try">No surveys.</div>
		{% endif %}

	</div>
	
{% endblock %}
</div>
