{% extends 'base.html' %}

<div id="wholepage"><div id= "homepage"> 
{% block title %}
	Home Page
{% endblock %}
{% block headers %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css">
{% endblock %}
{% block content %}
</div>
<br>
<br>
<br>

	<div id="feed">
	<div id="mostPopular"> {% if popularFeed %}
			Five most popular polls:
			<ul>
				{% for survey in popularFeed %}
					<div> <li><a class= "survey_link" href="/survey/{{survey.id}}">{{survey.title}}</a> - by {{survey.author}}</li> </div>
				{% endfor %}
			</ul>
		{% else %}
			No surveys.
		{% endif %}
	</div>
	<div id="mostRecent">	{% if recentFeed %}
			Five most recent polls:
			<ul>
				{% for survey in recentFeed %}
					<div> <li><a class= "survey_link" href="/survey/{{survey.id}}" >{{survey.title}}</a> - by {{survey.author}}</li> </div>
				{% endfor %}
			</ul>
		{% else %}
			<div id="try">No surveys.</div>
		{% endif %}

	</div>
	
{% endblock %}
</div>
