{% extends "base.html"%}

{% block title %}
	View Survey Page
{% endblock %}
{% block headers %}

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/newsurvey.css">

	<script type="text/javascript">
		$(function(){
			var i =3;
			$("#add").click(function(){
				$("#createSurv").append("<tr><td><div class='row'>Answer: <input type='text' name='answer" + i + "'onclick=\"this.value='';\" onfocus=\"this.select()\" onblur=\"this.value=!this.value?'Answer..':this.value;\" value=\"Answer..\"></div></td></tr>");
				i++;

			});
			$("#done").submit(function(){
				$("#error").css('display','block');
			});
		});

	</script>
{% endblock %}
{% block content %}
	<div id="surframe">
		<form action="create/" method= "post">
		<div  align="center">
				<table id="createSurv">
					{% csrf_token %}

					<tr>
						<td valign="middle">
							<div class="row">Title: <input type= "text" name= "title" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Title..':this.value;" value="Title..">
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="row">Author: <input type= "text" name= "author" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Author..':this.value;" value="Author..">
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="row">Description: 
								<br><textarea cols="38" rows="8" name="desc"></textarea>
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="row">Answer: <input type= "text" name= "answer1" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Answer..':this.value;" value="Answer..">
							</div>
						</td>
					</tr>
	
					<tr>
						<td>
							<div class="row">Answer: <input type= "text" name= "answer2" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Answer..':this.value;" value="Answer..">
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div id="buttons"><input id="add" type= "button" value= "Add another answer" class="button">
							<input id="done" type= "submit" value= "Submit" class="button"></div>
						</td>
					</tr>
				</table>
		</div>


		</form>
	</div>
	</table>
{% endblock %}
