{% extends "base.html"%}

{% block title %}
	View Survey Page
{% endblock %}
{% block headers %}
<script type="text/javascript">
$(function(){
	var i =3;
	$("#add").click(function(){
		var formElement = document.getElementById("createSurv");
		var form = formElement.innerHTML;
		form = form+"<tr><td>Answer: </td><td><input type= 'text' name= 'answer"+i+"' > </td></tr>";
		formElement.innerHTML+="<tr><td>Answer: </td><td><input type= 'text' name= 'answer"+i+"' > </td></tr>";
		i++;

	});
});
</script>
{% endblock %}
{% block content %}
	<form action="create/" method= "post">
			<table id="createSurv">
				{% csrf_token %}
				<tr><td>Title: </td><td><input type= "text" name= "title" ></td></tr>
				<tr><td>Author: </td><td><input type= "text" name= "author" ></td></tr>
				<tr><td>Description: </td><td><input type= "text" name= "desc" ></td></tr>
				<tr><td>Answer: </td><td><input type= "text" name= "answer1" ></td></tr>	
				<tr><td>Answer: </td><td><input type= "text" name= "answer2" ></td></tr>
			</table>
			<div>
				<input id="add" type= "button" value= "Add another answer">
				<input type= "submit" value= "Submit">
			</div>		
	</form>
	</table>
{% endblock %}
