{% extends "base.html"%}

{% block title %}
	View Survey Page
{% endblock %}
{% block headers %}

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/newsurvey.css">

	<script type="text/javascript">
		$(function(){
			var i =3;
			$("#add").click(function(){
				var formElement = document.getElementById("createSurv");
				var form = formElement.innerHTML;
				form = form+"<tr><td><div class='row'>Answer: <input type= 'text' name= 'answer"+i+"' > </div></td></tr>";
				formElement.innerHTML+="<tr><td><div class='row'>Answer: <input type= 'text' name= 'answer"+i+"' > </div></td></tr>";
				i++;

			});
		});
	</script>
{% endblock %}
{% block content %}
	<div id="frame">
		<form action="create/" method= "post">
		<div  align="center">
				<table id="createSurv">
					{% csrf_token %}
					<tr><td valign="middle"><div class="row">Title: <input type= "text" name= "title" ></div></td></tr>
					<tr><td><div class="row">Author: <input type= "text" name= "author" ></div></td></tr>
					<tr><td><div class="row">Description: <input type= "text" name= "desc" ></div></td></tr>
					<tr><td><div class="row">Answer: <input type= "text" name= "answer1" ></div></td></tr>	
					<tr><td><div class="row">Answer: <input type= "text" name= "answer2" ></div></td></tr>
				</table>
		</div>
				<div>
					<div align="right"><input id="add" type= "button" value= "Add another answer">
					<input type= "submit" value= "Submit"></div>
				</div>		
		</form>
	</div>
	</table>
{% endblock %}
