#menu {position: relative; }

#nav {
	position: absolute; 
	bottom: 0;	 
	right:0;
	background-color:#99CCFF;
	border-style:solid;
	border-width:2px; 
	text-align:center;
}

#nav span {padding: 10px;
}
















