#menu {position: relative; }

#nav {
	position: absolute; 
	bottom: 0;	 
	right:0;
	color: white;
	background-color:#00CCCC;
	border-style:solid;
	border-width:2px; 
	text-align:center;
}
 
a.survey_link:link, a.survey_link:visited {
	color:#663300;
}
#nav span {padding: 10px; 
}

#body {
  background-image: url('../images/cloud-flares.jpg');
}


#frame{
	background-color:#FFFFCC;
	margin:100px;
	padding:25px;
	border-radius:1em 1em 1em 1em;
}



.lis{
	list-style: none;
}


input{
	border-radius:0.7em 0.7em 0.7em 0.7em;
	vertical-align:middle;
}







