#surveyFrame {
	color:#336699;
	font-size:18px;
	background-color:#CCFFFF;
	margin:20px;
	padding:7px;
	border-radius:1em 1em 1em 1em;
	border-style:outset;
}

#surveyFrame:hover{
	border-style:inset;
}


#survTitle{
	font-size:23px;
}

#subTitle{
	color:#336699;
	font-size:16;
}

#desc{
	font-size:15;
	color:black;
}

input{
	float:right; 
	border-radius:0.7em 0.7em 0.7em 0.7em;
	vertical-align:middle;
}

#browseTitle {font-size: 27px; color: #333333;
}
