#surveyFrame {
	color:#336699;
	font-size:18px;
	background-color:#CCFFFF;
	margin:20px;
	padding:7px;
	border-radius:1em 1em 1em 1em;
}

#survTitle{
	font-size:23px;
}

#subTitle{
	color:#336699;
	font-size:16;
}

#desc{
	font-size:15;
	color:black;
}

#browseTitle {font-size: 27px; color: #333333;
}
