#main{
	width:1200px;
	margin:0 auto;
}

.surveyFrame {
	color:#336699;
   background: #d3e1eb;
   background: -webkit-gradient(linear, left top, left bottom, from(#75b1d9), to(#d3e1eb));
   background: -webkit-linear-gradient(top, #75b1d9, #d3e1eb);
   background: -moz-linear-gradient(top, #75b1d9, #d3e1eb);
   background: -ms-linear-gradient(top, #75b1d9, #d3e1eb);
   background: -o-linear-gradient(top, #75b1d9, #d3e1eb);
	font-size:18px;
	margin:20px;
	padding:7px;
	border-radius:1em 1em 1em 1em;
	border-style:outset;
	width:500px;
	float:left;
}

.surveyFrame:hover{
	border-style:inset;
}


.survTitle{
	font-size:23px;
}

.subTitle{
	color:#336699;
	font-size:16;
}

.desc{
	font-size:15;
	color:black;
}

.links{
	text-decoration:none;
}

.input{
	float:right; 
	border-radius:0.7em 0.7em 0.7em 0.7em;
	vertical-align:middle;
}

#browseTitle {font-size: 27px; color: #333333;
}
