#title {
	color:#663300;
	font-size:200%;
}


#subtitle {
	color:#996633;
	font-size:120%;
}

#poll-info {
	float:left;
	margin:20px 50px 50px 20px;
	width:580px;
	background-color:#FFFFCC;
	padding:25px;
	border-radius:1em 1em 1em 1em;
	border-style:outset;
}

#poll-info:hover{
	border-style:inset;
}

#commentsFrame {
	margin:20px 80px 50px 0px;
	display:inline-block;
	color:#336699;
	font-size:125%;
	background-color:#CCFFFF;
	padding:25px;
	border-radius:1em 1em 1em 1em;
	border-style:outset;

}


#commentsFrame:hover{
	border-style:inset;
}

#com-date {
	color:#6699CC;
	font-size:60%;
}

#com-author{
	font-size:80%;
	font-weight:bold;
}

#com-text{
	font-size:80%;
}


#pccontainer { 
	width: 1500px;
	margin: 0 auto;
}


