#title {
	color:#663300;
	font-size:200%;
}


.subtitle {
	color:#996633;
	font-size:120%;
}

#poll-info {
	float:left;
   background: #e0cbb1;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffab52), to(#e0cbb1));
   background: -webkit-linear-gradient(top, #ffab52, #e0cbb1);
   background: -moz-linear-gradient(top, #ffab52, #e0cbb1);
   background: -ms-linear-gradient(top, #ffab52, #e0cbb1);
   background: -o-linear-gradient(top, #ffab52, #e0cbb1);
	margin:20px 50px 50px 20px;
	width:580px;
	background-color:#FFFFCC;
	padding:25px;
	border-radius:1em 1em 1em 1em;
	border-style:outset;
}

#poll-info:hover{
	border-style:inset;
}

#commentsFrame {
   background: #d3e1eb;
   background: -webkit-gradient(linear, left top, left bottom, from(#75b1d9), to(#d3e1eb));
   background: -webkit-linear-gradient(top, #75b1d9, #d3e1eb);
   background: -moz-linear-gradient(top, #75b1d9, #d3e1eb);
   background: -ms-linear-gradient(top, #75b1d9, #d3e1eb);
   background: -o-linear-gradient(top, #75b1d9, #d3e1eb);
	margin:20px 80px 50px 0px;
	display:inline-block;
	color:#336699;
	font-size:125%;
	background-color:#CCFFFF;
	padding:25px;
	border-radius:1em 1em 1em 1em;
	border-style:outset;

}


#commentsFrame:hover{
	border-style:inset;
}

#com-date {
	color:#6699CC;
	font-size:60%;
}

#com-author{
	font-size:80%;
	font-weight:bold;
}

#com-text{
	font-size:80%;
}

#pccontainer { 
	width: 1500px;
	margin: 0 auto;
}


