#feed {font-size: 20px; color: #333333;
	width: 800px;
	float: right;
	margin-right: 100px;
}
a.navbar:link, a.navbar:visited {
	color: #CCFFFF ;
}

#mostRecent {background-color: #FFFFCC;
	margin:75px;
	padding:25px;
	border-radius:1em 1em 1em 1em;
	border-style:outset;
	width:750px;
}

#mostRecent:hover{
	border-style:inset;
}

#mostPopular {
	background-color: #FFFFCC;
	margin:75px;
	padding:25px;
	border-radius:1em 1em 1em 1em;
	border-style:outset;
	width:750px
}

#mostPopular:hover{
	border-style:inset;
}

