#feed {font-size: 20px; color: #333333;
}
a.navbar:link, a.navbar:visited {
	color: #CCFFFF ;
}

#mostRecent {background-color: #FFFFCC;
	margin:100px;
	padding:25px;
	border-radius:1em 1em 1em 1em;
}

#mostPopular {background-color: #FFFFCC;
	margin:100px;
	padding:25px;
	border-radius:1em 1em 1em 1em;
}
